.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Slots
    .box-content
      %p
        %b Name:
        = @slot.name
      %p
        %b Description:
        = @slot.description
