<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Admin,</h1>
    <p>
      You have recieved a password reset request from user <%= @user.email %></br>
      At time <% Time.now %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>