.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Update Oragniztion Contacts
    .box-content
      = render ("layouts/breadcrumbs")
      = render 'form'
