.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        -if params[:param]=="1"    
          Update Supervisor
        -elsif params[:param]=="2"   
          Update User
        -elsif params[:param]=="3"   
          Update Profile  
        -else       
          Update Support Staff
    .box-content
      -if params[:param]!="3"
        = render ("layouts/breadcrumbs")
      = render 'edit'