.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        -if params[:param]=="1"    
          Add Supervisor
        -elsif params[:param]=="2"   
          Add User
        -else       
          Add Support Staff
    .box-content
      = render ("layouts/breadcrumbs")
      = render 'form'