.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        -if params[:params]=="1"    
          Supervisor
        -elsif params[:params]=="2"   
          User
        -else       
          Support Staff
    .box-content= render 'form'