.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        -if params[:param]=="1"    
          ="#{controller.action_name.capitalize} "+ "Supervisor"
        -elsif params[:param]=="2"   
          ="#{controller.action_name.capitalize} "+ "User"
        -else       
          ="#{controller.action_name.capitalize} "+ "Support Staff"
    .box-content= render 'form'