<div class="row-fluid sortable">        
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i> Customers</h2>
        </div>
        <div class="box-content">
<%= render 'form' %>

</div>