.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        Locations
    .box-content
      %p
        %b Nickname:
        = @floor.nickname
      %p
        %b Description:
        = @floor.description
      %p
        %b Capacity:
        = @floor.capacity
      %p
        %b Occupied:
        = @floor.occupied