.allign{
	display: inline-block;
	float:left;
	padding-right: 100px;
	padding-top: 15px;
}

.button{
	margin-top: 37px;
	margin-left: 254px;
	height: 35px;
	width: 60px !important;
}
.heading{
	padding-right: 700px;
}
.blue{
	background-color: blue;
	color: blue;
	border-color: blue;
}
.red{
	background-color: red;
	color: red;
	border-color: red;
}
.green{
	background-color: green;
	color: green;
	border-color: green;
}
.shift{
	margin-left: 92px;
}

.container-fluid{
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.button1{
	margin-top: 12px;
	margin-left: 170px;
}
.set{
	width: 300px;
}

.search{
	margin-top: 175px;
	margin-left: -338px;
	width: 160px !important;
	height: 30px !important;
}
.style{
	margin-top: 35px;

}

.border{
	margin: 0 auto;
	margin-left: 270px;
}
/*.border{
	border:2px solid black;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-left: 365px;
	margin-left: 100px;
	margin-right: -83px;
}*/

.login{
	margin-top: 22px;
	margin-left: 234px;
	width: 65px !important;
	height: 30px !important;
}

.partial {
	margin-top: -33px;
padding-bottom: 60px;
margin-left: 142px;
}

.header{
margin-top: 40px;
margin-bottom: 40px;
margin-left: 50px;
}

.sticker{
	margin-left: -80px;
margin-bottom: -26px;
}

.textfield{
	margin-top: 25px;

}
/*dvonv*/
.hello {
display: block;
width: 70px;
height: 70px;
border-radius: 48px;
font-size: 10px;
color: black;
line-height: 66px;
text-align: center;
background: #eeeeee;
margin-left: 300px;

}

textarea, .uneditable-input {
margin-left: 0;
height: 85px;
}

#content{
	border:2px solid white;
}

form{
	margin-left: 60px;
}

/*.field{
	margin-bottom: -40px;
}*/
.name{
	float:left;
}

label{
	float: left;
width: 100px;
text-align: left;
margin: 9px -10px;
color: white;
}

.label_tag{
	float: left;
width: 100px;
text-align: left;
margin: 9px -10px;
}

.size{
	width:70px;
}

.size1{
	width: 70px;
	margin-left: -45px;
}

.location{
	margin-top: -37px;
margin-left: 186px;

}

.up{
	margin-top: -20px;
}

.search1{
	width: 140px;
margin-top: -47px;
margin-left: 42px;
}

.envelope{
	margin-left: 40px;	
}

.allign1{
	display: inline-block;
	float:left;
	padding-right: 56px;
	padding-top: 15px;
}

.search2{
	width: 140px;
margin-top: -47px;
margin-left: 97px;
}

.location1{
	margin-top: 66px;
margin-left: -113px;
margin-bottom: 15px;
}

th{
	background:#5CACEE;
	color: black;
}

tr td{
	text-align: center;
    background:#EEEEEE;
    color:black;
}
tr:nth-child(odd) td{   
	text-align: center; 
    background:#5CACEE;
    color: black;
}

table{
	width:100%;
	overflow: auto;
}

.scroll{
	overflow-y: auto; 
}

.shift1{
	margin-top: -70px;
margin-left: 415px!important;
}

.navbar .btn-group {
margin: 0;
margin-top: -62px;
padding: 5px 5px 6px;
}

a:hover {
color: blue;
text-decoration: underline;
}

a{
	color: black;
}