.row-fluid.sortable
  .box.span12
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user.icon-white
        ="#{controller.action_name.capitalize} Organization" 
    .box-content= render 'form'
