<% if @breadcrumbs %>
	<div id="bread_crumb">
	   <span>
	      <% @breadcrumbs[0..-2].each do |txt, path| %>
	      <%= link_to(h(txt), path) %> >>
	      <% end %>
	      <%= h(@breadcrumbs.last.first) %>
   </span>	
</div> 
<% end %>